.container__heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.container__form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form__text {
  padding: 10px 20px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 24px;
}

.form__text_last {
  margin-bottom: 50px;
}

.form__text:focus {
  outline: 3px solid #fcc81f;
}

.form__button {
  border: 0;
  background: #fcc81f;
  height: 80px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 6px #2b2b2b;
}

.form__button:active {
  transform: translateY(4px);
  box-shadow: 0 2px #2b2b2b;
}

.form__button:focus {
  outline: none;
}

.container__message {
  margin-bottom: 40px;
}

.container__message_error {
  color: #b10505;
  font-weight: 700;
}

.table__heading {
  background: #fcc81f;
}

.table__row:nth-child(2n+1) {
  background: #e9e9e9;
}

.table__row:last-child .table__cell {
  border-bottom: 4px solid #fcc81f;
}

.table__row.table__row_completed {
  background: #4db140;
}

.table__row_completed::after {
  content: 'COMPLETED';
  position: absolute;
  text-align: center;
  width: 400px;
  left: calc(50% - 200px);
  padding: 10px;
  font-size: 28px;
  font-weight: 700;
  color: #f0f0f0;
  letter-spacing: 10px;
  z-index: 1;
}

.table__row_completed .table__cell {
  color: #52884b;
}


.table__row.table__row_cancelled   {
  background: #d1d1d1;
}

.table__row_cancelled::after {
  content: 'CANCELLED';
  position: absolute;
  text-align: center;
  width: 400px;
  left: calc(50% - 200px);
  padding: 5px;
  font-size: 28px;
  font-weight: 700;
  color: #2e2e2e;
  letter-spacing: 10px;
  z-index: 1;
}

.table__row_cancelled .table__cell {
  color: #c0c0c0;
}

.table__cell {
  font-size: 18px;
  color: #3f3f3f;
  padding: 10px 20px;
}


.table__cell_heading {
  font-size: 20px;
  padding: 20px 30px;
}

.table__cell_with-checkbox {
  text-align: center;
}

.cell__checkbox {
  align-self: center;
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 2;
}
